* {
    padding: 0px;
    margin: 0px;
    /* background-color: black;
    color: white; */
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    font-family: "Press Start 2P", cursive;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: x-large;
}
#gameInfo {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    border: 5px dashed black;
    padding: 20px;
}

.name-tag {
    color: black;
    padding: 10px;
}
